# ---------------------------------基本配置--------------------------------------
/**
!.gitignore
!README.md
!README.pdf
!*png

# ---------------------------------项目1：VSAFreqTest--------------------------------------
!/VSAFreqTest

# 项目一子项目：HFVSA
!/VSAFreqTest/HFVSA
!/VSAFreqTest/HFVSA/HFVSA.ioc  
!/VSAFreqTest/HFVSA/Core
!/VSAFreqTest/HFVSA/Core/Src
!/VSAFreqTest/HFVSA/Core/Src/main.c
!/VSAFreqTest/HFVSA/User
!/VSAFreqTest/HFVSA/User/**
!/VSAFreqTest/HFVSA/MDK-ARM
!/VSAFreqTest/HFVSA/MDK-ARM/HFVSA.uvoptx
!/VSAFreqTest/HFVSA/MDK-ARM/HFVSA.uvprojx

# 项目一子项目：MACCEPA
!/VSAFreqTest/MACCEPA
!/VSAFreqTest/MACCEPA/MACCEPA.ioc  
!/VSAFreqTest/MACCEPA/Core
!/VSAFreqTest/MACCEPA/Core/Src
!/VSAFreqTest/MACCEPA/Core/Src/main.c
!/VSAFreqTest/MACCEPA/User
!/VSAFreqTest/MACCEPA/User/**
!/VSAFreqTest/MACCEPA/MDK-ARM
!/VSAFreqTest/MACCEPA/MDK-ARM/MACCEPA.uvoptx
!/VSAFreqTest/MACCEPA/MDK-ARM/MACCEPA.uvprojx